<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <div>
        <a mat-button [routerLink]="'/login'"> Login </a>
        <a mat-button [routerLink]="'/register'"> Register </a>
      </div>
      <span class="example-spacer"></span> 
      <span *ngIf="!isChkUser">{{firstName}}
      <span>
      <mat-icon [matMenuTriggerFor]="menu">account_circle</mat-icon>
      <mat-menu #menu="matMenu">
            <a mat-menu-item [routerLink]="'my/profile'" >Profile</a>

            <a mat-menu-item [routerLink]="'my/profile'" >Settings</a>
            <a mat-menu-item (click)="Logout()">Logout</a>
          </mat-menu>
    </span>
</span>
    </mat-toolbar-row>   
  </mat-toolbar>
<!-- main app container -->

                <router-outlet></router-outlet>
           